@use "@/scss/abstracts" as *;

.section-banner-one {
    margin-top: 170px;

    &__block {
        display: flex;
        flex-flow: column;
        gap: clampFluid(46);
        align-items: center;
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-flow: column;
        gap: clampFluid(16);
        max-width: clampFluid(820);
        width: 100%;
        align-items: center;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: $black;
    }

    &__text {
        text-align: center;
        max-width: clampFluid(575);
        width: 100%;
        color: $black-60;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        inset: 0;

        &--desk {
            display: block;
        }

        &--mob {
            display: none;
        }

        @media (max-width: 480px) {
            &--desk {
                display: none;
            }

            &--mob {
                display: block;
            }
        }
    }

}