# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Composer
vendor/

# Локальный конфиг
.env
.env.*
wp-config.php
wp-config-ddev.php

# файлы DDEV
.ddev/db_snapshots
.ddev/.importdb*
.ddev/.webimageBuild
.ddev/docker-compose.*

# Logs
*.log

# uploads
wp-content/uploads/*
!wp-content/uploads/.gitkeep