# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Composer
wp-content/themes/main/vendor/

# Локальный конфиг
.env
.env.*
wp-config.php
wp-config-ddev.php

# файлы DDEV
.ddev/db_snapshots
.ddev/.importdb*
.ddev/.webimageBuild
.ddev/docker-compose.*