// Светлая тема
$main: #EEBC6B;
$black: #0F372F;
$black-70: #0F372FB2;
$black-60: #0F372F99;
$black-40: #0F372F66;
$black-20: #0F372F33;

// Тёмная тема
$white: #FAFAFA;
$white-90: #FAFAFAE5;
$white-80: #FAFAFACC;
$white-30: #FAFAFA4D;
$white-20: #FAFAFA33;
$black-bg: #000000;