@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.woff") format("woff"),
       url("./Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Medium.woff") format("woff"),
       url("./Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-SemiBold.woff") format("woff"),
       url("./Roboto-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Bold.woff") format("woff"),
       url("./Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Jun */

@font-face {
  font-family: "Jun";
  src: url("./Jun-Regular.woff") format("woff"),
       url("./Jun-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jun";
  src: url("./Jun-Italic.woff") format("woff"),
       url("./Jun-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}