@use "@/scss/abstracts" as *;

.card-about {
    display: flex;
    flex-flow: column;
    gap: 10px;

    &__image {
        height: clampFluid(230, 290, 380, 1920);
    }

    &__title {
        color: $black;
    }
}